@model Project.WebMVC.ViewModels.StatusViewModel

@{
    ViewData["Title"] = "Secret page";
}

<style>
    .claims-container {
        display: flex;
        flex-direction: column;
    }
    
    .claims-container .claims-line {
       display: flex;
       justify-content: space-between;
    }
</style>

@if (Model.IsUserAuthenticated)
{
    <h1>Hello, @Model.Username</h1>
    <hr/>
    <h2>You authenticaed by @Model.AuthenticationMethod</h2>
}
else
{
    <h1>Hello, $USER</h1>
    <hr/>
    <h2>I don't know anything about you</h2>
}

<hr/>

<h2>Your claims</h2>

<div class="claims-container">
    <div class="claims-line">
        <strong>
            Type
        </strong>
        <strong>
            Value
        </strong>
    </div>
    
    @foreach (var claim in Model.UserClaims)
    {
        <div class="claims-line">
            <div>
                @claim.Type
            </div>
            <div>
                @claim.Value
            </div>
        </div>
    }
</div>

