@page
@model Project.WebMVC.Areas.Identity.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <label asp-for="Input.Username"></label>
        <input asp-for="Input.Username" />
        <span asp-validation-for="Input.Username" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-dark">Login</button>
</form>