@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<form method="post" class="row g-3 ">
    <div class="col-12 form-group">
        <label asp-for="Input.Username"></label>
        <input asp-for="Input.Username" class="form-control"/>
        <span asp-validation-for="Input.Username" class="text-danger"></span>
    </div>
    <div class="col-12 form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control"/>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="col-12 form-group">
        <label asp-for="Input.Birthday"></label>
        <input asp-for="Input.Birthday" class="form-control"/>
        <span asp-validation-for="Input.Birthday" class="text-danger"></span>
    </div>
    <div class="col-md-6 form-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="col-md-6 form-group">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="col-12 mt-3">
        <button type="submit" class="btn btn-dark">Register</button>
    </div>
</form>

<hr/>

<form asp-page="ExternalLogin" method="post">
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        @foreach (var provider in Model.ExternalProviders)
        {
            <button class="btn btn-dark" name="provider" type="submit" value="@provider.Name">Sign in with @provider.Name</button>
        }
    </div>
    <input name="returnUrl" type="hidden" value="@Model.ReturnUrl"/>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}