@using NodaTime
@using Project.WebMVC.ViewModels

@model ProfileViewModel

@{
    var currentDate = LocalDate.FromDateTime(DateTime.Now);
    var birthdayDate = LocalDate.FromDateTime(Model.Birthday);
    var period =  Period.Between(birthdayDate, currentDate, PeriodUnits.Years);
}

<div style="display: flex; align-items: center; ">
    <div>
        <img src="@Model.ProfileImageUrl" alt="profileImage" width="100px" height="100px">
    </div>
    <div class="ml-3">
        <h1>@Model.Username</h1>
        <span>@period.Years.ToString(), years</span>
    </div>
</div>

<hr />

<div>
    <h2>Information</h2>
    
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At dolore error esse facere nobis nulla tempora ut. At atque fuga labore perspiciatis quae recusandae repudiandae sapiente sed? Ad aut, soluta?
    </div>
</div>

<hr />

<div>
    <h2>Account settings</h2>
    
    <a class="btn btn-dark" asp-area="Identity" role="button" asp-page="/Account/Manage/Index">Go to settings</a>
</div>